{% extends 'base.html' %}

{% block content %}

  <div class="jumbotron">
    <div align='center'>
        <h1>Welcome {{current_user.username}}</h1>
        <img src="{{url_for('static',filename='profile_pics/' + current_user.profileImage)}}" width="200px" height="200px">
    </div>
  </div>

  <form method="POST" action="" enctype="multipart/form-data">

    {{form.hidden_tag()}}

    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.username.label }}
      {{ form.username(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.picture.label }}
      {{ form.picture(class='form-control-file') }}
      <small class="form-text text-muted"><span style="color:red">*</span>Only JPG & PNG File. Recommended Size Is 200*200 Pixels.</small>
    </div>

    <div class="form-group">
      {{ form.submit(class='btn btn-primary') }}
    </div>

  </form>
{% endblock %}
